<%- include("partials/header.ejs", {title: "CRC калкулатор" }) %>

    <div class="container">
        <div class="content-wrap">
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-6">
                    <div class="form-group text-center">
                        <h3>CRC калкулатор</h3>
                    </div>
                    <div class="form-group"">
                        <label for="input-string">Внесете ја бинарната низа:</label>
                        <input type="text" class="form-control" id="input-string" aria-describedby="input" required
                            autocomplete="off" />
                    </div>
                    <div class="form-group"">
                        <label for=" generator">Внесете го генераторот во бинарна форма:</label>
                        <input type="text" class="form-control" id="generator" aria-describedby="input" required
                            autocomplete="off" />
                    </div>
                    <div class="form-group"">
                        <label for=" coding-decoding-select">Опција:</label>
                        <select class="custom-select" aria-label="Select operation" id="coding-decoding-select">
                            <option selected disabled hidden value="default">Изберете од понудените опции</option>
                            <option value="coding">Кодирање</option>
                            <option value="decoding">Детекција на грешка</option>
                        </select>
                    </div>
                    <div class="form-group mb-5">
                        <button class="btn btn-primary" onclick="calculateCRC()"><i
                                class="fa fa-calculator"></i>
                            Пресметај</button>
                    </div>
                    <label for="crc-code">Резултат:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="crc-code" readonly>
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                                onclick="copyToClipboardFunction()"><i class="fa fa-copy"></i> Копирај</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">

        <div class="modal-content">
            <div class="modal-header">
                <h2>ГРЕШКА!</h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body" id="mdBody">
                <p></p>
            </div>
            <div class="modal-footer">
                <h3>ГРЕШКА!</h3>
            </div>
        </div>

    </div>
    <script src="/js/crc-calculator.js"></script>
    <%- include("partials/footer.ejs") %>