<%- include("partials/header.ejs", {title: "IP Subnet калкулатор" }) %>

    <div class="container">
        <div id="content-wrap">
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-6">
                    <div class="form-group text-center">
                        <h3>IP Subnet калкулатор</h3>
                    </div>
                    <div class="form-group">
                        <label for="ip-address">IP адреса:</label>
                        <input type="text" class="form-control" id="ip-address" aria-describedby="input" required
                            autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="subnet">Подмрежна маска</label>
                        <select class="custom-select" aria-label="Select operation" id="subnet">
                            <option selected disabled hidden value="default">Изберете подмрежна маска</option>
                            <option value="32">255.255.255.255 /32</option>
                            <option value="31">255.255.255.254 /31</option>
                            <option value="30">255.255.255.252 /30</option>
                            <option value="29">255.255.255.248 /29</option>
                            <option value="28">255.255.255.240 /28</option>
                            <option value="27">255.255.255.224 /27</option>
                            <option value="26">255.255.255.192 /26</option>
                            <option value="25">255.255.255.128 /25</option>
                            <option value="24">255.255.255.0 /24</option>
                            <option value="23">255.255.254.0 /23</option>
                            <option value="22">255.255.252.0 /22</option>
                            <option value="21">255.255.248.0 /21</option>
                            <option value="20">255.255.240.0 /20</option>
                            <option value="19">255.255.224.0 /19</option>
                            <option value="18">255.255.192.0 /18</option>
                            <option value="17">255.255.128.0 /17</option>
                            <option value="16">255.255.0.0 /16</option>
                            <option value="15">255.254.0.0 /15</option>
                            <option value="14">255.252.0.0 /14</option>
                            <option value="13">255.248.0.0 /13</option>
                            <option value="12">255.240.0.0 /12</option>
                            <option value="11">255.224.0.0 /11</option>
                            <option value="10">255.192.0.0 /10</option>
                            <option value="9">255.128.0.0 /9</option>
                            <option value="8">255.0.0.0 /8</option>
                            <option value="7">254.0.0.0 /7</option>
                            <option value="6">252.0.0.0 /6</option>
                            <option value="5">248.0.0.0 /5</option>
                            <option value="4">240.0.0.0 /4</option>
                            <option value="3">224.0.0.0 /3</option>
                            <option value="2">192.0.0.0 /2</option>
                            <option value="1">128.0.0.0 /1</option>
                        </select>
                    </div>
                    <div class="form-group mb-5">
                        <button class="btn btn-outline-primary" onclick="calculate()"><i class="fa fa-calculator"></i>
                            Пресметај</button>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="ipaddr">1. IP адреса:</label>
                        <input type="text" class="form-control" id="ipaddr" disabled>
                    </div>
                    <div class="form-group">
                        <label for="networkaddr">2. Адреса на мрежа:</label>
                        <input type="text" class="form-control" id="networkaddr" disabled>
                    </div>
                    <div class="form-group">
                        <label for="host-range">3. Дозволени адреси на хостови (опсег):</label>
                        <input type="text" class="form-control" id="host-range" disabled>
                    </div>
                    <div class="form-group">
                        <label for="broadcastaddr">4. Broadcast адреса:</label>
                        <input type="text" class="form-control" id="broadcastaddr" disabled>
                    </div>
                    <div class="form-group">
                        <label for="total-hosts">5. Вкупен број на хостови:</label>
                        <input type="text" class="form-control" id="total-hosts" disabled>
                    </div>
                    <div class="form-group">
                        <label for="usable-hosts">6. Број на дозволени хостови:</label>
                        <input type="text" class="form-control" id="usable-hosts" disabled>
                    </div>
                    <div class="form-group">
                        <label for="subnet-mask">7. Подмрежна маска:</label>
                        <input type="text" class="form-control" id="subnet-mask" disabled>
                    </div>
                    <div class="form-group">
                        <label for="subnet-mask-binary">8. Подмрежна маска (бинарно):</label>
                        <input type="text" class="form-control" id="subnet-mask-binary" disabled>
                    </div>
                    <div class="form-group">
                        <label for="ip-class">9. IP класа:</label>
                        <input type="text" class="form-control" id="ip-class" disabled>
                    </div>
                    <div class="form-group">
                        <label for="cidr-notation">10. CIDR нотација:</label>
                        <input type="text" class="form-control" id="cidr-notation" disabled>
                    </div>
                    <div class="form-group">
                        <label for="ip-type">11. IP тип (приватна, јавна):</label>
                        <input type="text" class="form-control" id="ip-type" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h2>ГРЕШКА!</h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body" id="mdBody">
                <p></p>
            </div>
            <div class="modal-footer">
                <h3>Компјутерски мрежи и безбедност</h3>
            </div>
        </div>

    </div>

    <script src="/js/ip-subnet-calculator.js"></script>
    <%- include("partials/footer.ejs") %>