<%- include("partials/header.ejs", {title: "IP сумаризација" }) %>

    <div class="container">
        <div class="content-wrap">
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-6">
                    <div class="form-group text-center">
                        <h3>IP сумаризација</h3>
                    </div>
                    <div class="form-group" id="form-summarization">
                        <label for="ip-address">Внесете IP адреси за сумаризација:</label>
                        <input type="text" class="form-control ip-address" aria-describedby="input" required
                            autocomplete="off" />
                    </div>
                    <div class="form-group mb-5">
                        <button class="btn btn-secondary" onclick="add()"><i class="fa fa-plus-square"></i> Додади
                            поле</button>
                        <button class="btn btn-danger" onclick="removeInput()"><i class="fa fa-trash"></i> Избриши
                            поле</button>
                    </div>
                    <div class="form-group mb-5">
                        <button class="btn btn-primary" onclick="summarize()"><i class="fa fa-calculator"></i>
                            Пресметај</button>
                    </div>
                    <label for="summar-ip-addr">Сумарна рута (сумарна IP адреса):</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="summar-ip-addr" readonly>
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                                onclick="copyToClipboardFunction()"><i class="fa fa-copy"></i> Копирај</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">

        <div class="modal-content">
            <div class="modal-header">
                <h2>ГРЕШКА!</h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body" id="mdBody">
                <p></p>
            </div>
            <div class="modal-footer">
                <h3>ГРЕШКА!</h3>
            </div>
        </div>

    </div>

    <script src="/js/ip-summarization-calculator.js"></script>
    <%- include("partials/footer.ejs") %>