<%- include("partials/header.ejs", {title: "IP сумаризација"}) %>

    <div class="container">
        <div class="content-wrap">
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-6">
                    <div class="form-group text-center">
                        <h3>IP сумаризација</h3>
                    </div>
                    <div class="form-group" id="form-summarization">
                        <label for="ip-address">Внесете IP адреси за сумаризација:</label>
                        <input type="text" class="form-control ip-address" aria-describedby="input" required
                            autocomplete="off" />
                    </div>
                    <div class="form-group mb-5">
                        <button class="btn btn-outline-primary" onclick="add()">Додади поле за IP адреса</button>
                        <button class="btn btn-outline-primary" onclick="removeInput()">Избриши поле</button>
                    </div>
                    <div class="form-group mb-5">
                        <button class="btn btn-outline-primary" onclick="summarize()">Пресметај</button>
                    </div>
                    <div class="form-group">
                        <label for="ipaddr">Сумарна рута (сумарна IP адреса):</label>
                        <input type="text" class="form-control" id="summar-ip-addr" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<h2>ГРЕШКА!</h2>
				<span class="close">&times;</span>
			</div>
			<div class="modal-body" id="mdBody">
				<p></p>
			</div>
			<div class="modal-footer">
				<h3>Компјутерски мрежи и безбедност</h3>
			</div>
		</div>

	</div>

    <script src="/js/ip-summarization-calculator.js"></script>
    <%- include("partials/footer.ejs") %>