<%- include("partials/header.ejs") %>

    <div class="container">
        <div id="content-wrap">
            <div class="row mt-4 justify-content-center mr-auto ml-auto" style="display: flex; flex-wrap: wrap">
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">IP Subnet калкулатор</h5>
                            <p class="card-text">Информации поврзани со Интернет протокол верзија 4 (IPv4)</p>
                            <hr />
                            <div class="d-flex justify-content-end">
                                <a href="ip-subnet-calculator" class="btn btn-primary">Отвори калкулатор</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include("partials/footer.ejs") %>