<%- include("partials/header.ejs") %>

    <div class="container">
        <div id="content-wrap">
            <div class="row mt-4 justify-content-center mr-auto ml-auto" style="display: flex; flex-wrap: wrap">
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">IP Subnet калкулатор</h5>
                            <p class="card-text">Информации поврзани со Интернет протокол верзија 4 (IPv4).</p>
                            <hr />
                            <div class="d-flex justify-content-end">
                                <a href="ip-subnet-calculator" class="btn btn-primary"><i
                                        class="fa fa-angle-double-right"></i> Отвори калкулатор</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">IP сумаризација</h5>
                            <p class="card-text">Калкулатор за сумаризација на IP рути во сумарна IP рута.</p>
                            <hr />
                            <div class="d-flex justify-content-end">
                                <a href="ip-summarization-calculator" class="btn btn-primary"><i
                                        class="fa fa-angle-double-right"></i> Отвори калкулатор</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">CRC калкулатор</h5>
                            <p class="card-text">Калкулатор за кодирање/детекција на грешки со помош на CRC битови.</p>
                            <hr />
                            <div class="d-flex justify-content-end">
                                <a href="crc-calculator" class="btn btn-primary"><i
                                        class="fa fa-angle-double-right"></i> Отвори калкулатор</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Checksum калкулатор</h5>
                            <p class="card-text">Калкулатор за пресметка на checksum на бинарни зборови.</p>
                            <hr />
                            <div class="d-flex justify-content-end">
                                <a href="checksum-calculator" class="btn btn-primary"><i
                                        class="fa fa-angle-double-right"></i> Отвори калкулатор</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include("partials/footer.ejs") %>